/* Global Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInDown {
  from { 
    opacity: 0; 
    transform: translateY(-20px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

@keyframes fadeInTransform {
  from { 
    opacity: 0; 
    transform: translate(-50%, -60%); 
  }
  to { 
    opacity: 1; 
    transform: translate(-50%, -50%); 
  }
}

/* Add any other animations here */ 